html{
  scroll-behavior: smooth;
}
body{
  color: #d4f4de;
  background-color: #5598A5;
}
header{
  text-align: center;
  color: #FCFBFA;
  background-color: #000;
  border-radius: 20px;
}
header > a{
  text-decoration: none;
  color: inherit;
}
main section {
  cursor: default;
  background-color: #479097;
  border: 1px solid #000;
  padding: 2px;
  margin: 15px 5px 15px 5px;
  font-size: 20px;
  text-shadow: 1px -1px 0 #000;
}

main section::selection {
  color: inherit;
  background-color: #499299;
  cursor: text;
}

main section::-moz-selection {
  color: inherit;
  background-color: #297279;
  cursor: text;
}
main .sectionNum{
  color: #000;
  background-color: #91C7B3;
  border: 2px solid #282828;
  border-radius: 4%;
  text-shadow: none;
}


nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #000;
  background-color: rgba(238, 238, 238, 0.2);
  border: 0.1px solid #000;
  padding: 5px;
  margin: 2px 5px 2px 5px;

}
nav a{
  color: #242a41;
  background-color: #5598A5;
  text-decoration: none;
  padding: 2px;
  margin: 10px;
  border: 1px solid #111;
}
nav:hover{
  animation: background-opacity 3s;
  animation-fill-mode: forwards;
}
@keyframes background-opacity {
  0% {background-color: rgba(238, 238, 238, 0.2);}
  100% {background-color: rgba(238, 238, 238, 0.8);}
}
nav a:hover{
  color: #fff;
  background-color: #242a41;
}
nav > .atLeft{
  position: absolute;
  right: 0;
  top: 0;
}
nav > div{
  color: #222;
}
@media only screen and (max-width: 600px) {
  nav > .atLeft{
    position: static;
    display: block;
  }
}
